/* -------------------------------------
 * Bar container
 * ------------------------------------- */

.css-bar {
    position: relative;
    display: inline-block;
    font-size: 16px;
    border-radius: 50%;
    background-color: transparent;
    margin-bottom: 20px;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    width: 100px;
    height: 100px;
    font-size: 18px;
}

.css-bar:after,
.css-bar>img {
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50%;
    text-align: center;
    font-weight: light;
    color: #a1a2a3;
}

.css-bar:after {
    content: attr(data-label);
    background-color: #fff;
    z-index: 1;
}

.css-bar>img {
    z-index: 2;
}

.css-bar:after,
.css-bar>img {
    width: 0px;
    height: 0px;
    margin-left: 5px;
    margin-top: 5px;
    line-height: 70px;
}

.css-bar.css-bar-0 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(90deg, #2c63ff 50%, #fafafa 50%, #fafafa);
}

.css-bar.css-bar-5 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(108deg, #2c63ff 50%, #fafafa 50%, #fafafa);
}

.css-bar.css-bar-10 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(126deg, #2c63ff 50%, #fafafa 50%, #fafafa);
}

.css-bar.css-bar-15 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(144deg, #2c63ff 50%, #fafafa 50%, #fafafa);
}

.css-bar.css-bar-20 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(162deg, #2c63ff 50%, #fafafa 50%, #fafafa);
}

.css-bar.css-bar-25 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(180deg, #2c63ff 50%, #fafafa 50%, #fafafa);
}

.css-bar.css-bar-30 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(198deg, #2c63ff 50%, #fafafa 50%, #fafafa);
}

.css-bar.css-bar-35 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(216deg, #2c63ff 50%, #fafafa 50%, #fafafa);
}

.css-bar.css-bar-40 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(234deg, #2c63ff 50%, #fafafa 50%, #fafafa);
}

.css-bar.css-bar-45 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(252deg, #2c63ff 50%, #fafafa 50%, #fafafa);
}

.css-bar.css-bar-50 {
    background-image: linear-gradient(270deg, #2c63ff 50%, transparent 50%, transparent), linear-gradient(270deg, #2c63ff 50%, #fafafa 50%, #fafafa);
}

.css-bar.css-bar-55 {
    background-image: linear-gradient(288deg, #2c63ff 50%, transparent 50%, transparent), linear-gradient(270deg, #2c63ff 50%, #fafafa 50%, #fafafa);
}

.css-bar.css-bar-60 {
    background-image: linear-gradient(306deg, #2c63ff 50%, transparent 50%, transparent), linear-gradient(270deg, #2c63ff 50%, #fafafa 50%, #fafafa);
}

.css-bar.css-bar-65 {
    background-image: linear-gradient(324deg, #2c63ff 50%, transparent 50%, transparent), linear-gradient(270deg, #2c63ff 50%, #fafafa 50%, #fafafa);
}

.css-bar.css-bar-70 {
    background-image: linear-gradient(342deg, #2c63ff 50%, transparent 50%, transparent), linear-gradient(270deg, #2c63ff 50%, #fafafa 50%, #fafafa);
}

.css-bar.css-bar-75 {
    background-image: linear-gradient(360deg, #2c63ff 50%, transparent 50%, transparent), linear-gradient(270deg, #2c63ff 50%, #fafafa 50%, #fafafa);
}

.css-bar.css-bar-80 {
    background-image: linear-gradient(378deg, #2c63ff 50%, transparent 50%, transparent), linear-gradient(270deg, #2c63ff 50%, #fafafa 50%, #fafafa);
}

.css-bar.css-bar-85 {
    background-image: linear-gradient(396deg, #2c63ff 50%, transparent 50%, transparent), linear-gradient(270deg, #2c63ff 50%, #fafafa 50%, #fafafa);
}

.css-bar.css-bar-90 {
    background-image: linear-gradient(414deg, #2c63ff 50%, transparent 50%, transparent), linear-gradient(270deg, #2c63ff 50%, #fafafa 50%, #fafafa);
}

.css-bar.css-bar-95 {
    background-image: linear-gradient(432deg, #2c63ff 50%, transparent 50%, transparent), linear-gradient(270deg, #2c63ff 50%, #fafafa 50%, #fafafa);
}

.css-bar.css-bar-100 {
    background-image: linear-gradient(450deg, #2c63ff 50%, transparent 50%, transparent), linear-gradient(270deg, #2c63ff 50%, #fafafa 50%, #fafafa);
}

.css-bar-primary.css-bar-0 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(90deg, #4074b8 50%, #4074b850 50%);
}

.css-bar-primary.css-bar-5 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(108deg, #4074b8 50%, #4074b850 50%);
}

.css-bar-primary.css-bar-10 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(126deg, #4074b8 50%, #4074b850 50%);
}

.css-bar-primary.css-bar-15 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(144deg, #4074b8 50%, #4074b850 50%);
}

.css-bar-primary.css-bar-20 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(162deg, #4074b8 50%, #4074b850 50%);
}

.css-bar-primary.css-bar-25 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(180deg, #4074b8 50%, #4074b850 50%);
}

.css-bar-primary.css-bar-30 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(198deg, #4074b8 50%, #4074b850 50%);
}

.css-bar-primary.css-bar-35 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(216deg, #4074b8 50%, #4074b850 50%);
}

.css-bar-primary.css-bar-40 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(234deg, #4074b8 50%, #4074b850 50%);
}

.css-bar-primary.css-bar-45 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(252deg, #4074b8 50%, #4074b850 50%);
}

.css-bar-primary.css-bar-50 {
    background-image: linear-gradient(270deg, #4074b8 50%, transparent 50%, transparent), linear-gradient(270deg, #4074b8 50%, #4074b850 50%);
}

.css-bar-primary.css-bar-55 {
    background-image: linear-gradient(288deg, #4074b8 50%, transparent 50%, transparent), linear-gradient(270deg, #4074b8 50%, #4074b850 50%);
}

.css-bar-primary.css-bar-60 {
    background-image: linear-gradient(306deg, #4074b8 50%, transparent 50%, transparent), linear-gradient(270deg, #4074b8 50%, #4074b850 50%);
}

.css-bar-primary.css-bar-65 {
    background-image: linear-gradient(324deg, #4074b8 50%, transparent 50%, transparent), linear-gradient(270deg, #4074b8 50%, #4074b850 50%);
}

.css-bar-primary.css-bar-70 {
    background-image: linear-gradient(342deg, #4074b8 50%, transparent 50%, transparent), linear-gradient(270deg, #4074b8 50%, #4074b850 50%);
}

.css-bar-primary.css-bar-75 {
    background-image: linear-gradient(360deg, #4074b8 50%, transparent 50%, transparent), linear-gradient(270deg, #4074b8 50%, #4074b850 50%);
}

.css-bar-primary.css-bar-80 {
    background-image: linear-gradient(378deg, #4074b8 50%, transparent 50%, transparent), linear-gradient(270deg, #4074b8 50%, #4074b850 50%);
}

.css-bar-primary.css-bar-85 {
    background-image: linear-gradient(396deg, #4074b8 50%, transparent 50%, transparent), linear-gradient(270deg, #4074b8 50%, #4074b850 50%);
}

.css-bar-primary.css-bar-90 {
    background-image: linear-gradient(414deg, #4074b8 50%, transparent 50%, transparent), linear-gradient(270deg, #4074b8 50%, #4074b850 50%);
}

.css-bar-primary.css-bar-95 {
    background-image: linear-gradient(432deg, #4074b8 50%, transparent 50%, transparent), linear-gradient(270deg, #4074b8 50%, #4074b850 50%);
}

.css-bar-primary.css-bar-100 {
    background-image: linear-gradient(450deg, #4074b8 50%, transparent 50%, transparent), linear-gradient(270deg, #4074b8 50%, #4074b850 50%);
}

.css-bar-success.css-bar-0 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(90deg, #35b796 50%, #35b79650 50%);
}

.css-bar-success.css-bar-1 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%), linear-gradient(93.6deg, #35b796 50%, #35b79650 50%);
}

.css-bar-success.css-bar-2 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%), linear-gradient(97.2deg, #35b796 50%, #35b79650 50%);
}

.css-bar-success.css-bar-3 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%), linear-gradient(100.8deg, #35b796 50%, #35b79650 50%);
}

.css-bar-success.css-bar-4 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%), linear-gradient(104.4deg, #35b796 50%, #35b79650 50%);
}

.css-bar-success.css-bar-5 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%), linear-gradient(108deg, #35b796 50%, #35b79650 50%);
}

.css-bar-success.css-bar-6 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%), linear-gradient(111.6deg, #35b796 50%, #35b79650 50%);
}

.css-bar-success.css-bar-7 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%), linear-gradient(115.2deg, #35b796 50%, #35b79650 50%);
}

.css-bar-success.css-bar-8 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%), linear-gradient(118.8deg, #35b796 50%, #35b79650 50%);
}

.css-bar-success.css-bar-9 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%), linear-gradient(122.4deg, #35b796 50%, #35b79650 50%);
}

.css-bar-success.css-bar-10 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(126deg, #35b796 50%, #35b79650 50%);
}

.css-bar-success.css-bar-11 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%), linear-gradient(129.6deg, #35b796 50%, #35b79650 50%);
}

.css-bar-success.css-bar-12 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%), linear-gradient(133.2deg, #35b796 50%, #35b79650 50%);
}

.css-bar-success.css-bar-13 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%), linear-gradient(136.8deg, #35b796 50%, #35b79650 50%);
}

.css-bar-success.css-bar-14 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%), linear-gradient(140.4deg, #35b796 50%, #35b79650 50%);
}

.css-bar-success.css-bar-15 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(144deg, #35b796 50%, #35b79650 50%);
}

.css-bar-success.css-bar-16 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%), linear-gradient(147.6deg, #35b796 50%, #35b79650 50%);
}

.css-bar-success.css-bar-17 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%), linear-gradient(151.2deg, #35b796 50%, #35b79650 50%);
}

.css-bar-success.css-bar-18 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%), linear-gradient(154.8deg, #35b796 50%, #35b79650 50%);
}

.css-bar-success.css-bar-19 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%), linear-gradient(158.4deg, #35b796 50%, #35b79650 50%);
}

.css-bar-success.css-bar-20 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(162deg, #35b796 50%, #35b79650 50%);
}

.css-bar-success.css-bar-21 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(165.6deg, #35b796 50%, #35b79650 50%);
}

.css-bar-success.css-bar-22 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(169.2deg, #35b796 50%, #35b79650 50%);
}

.css-bar-success.css-bar-23 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(172.8deg, #35b796 50%, #35b79650 50%);
}

.css-bar-success.css-bar-24 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(176.4deg, #35b796 50%, #35b79650 50%);
}

.css-bar-success.css-bar-25 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(180deg, #35b796 50%, #35b79650 50%);
}

.css-bar-success.css-bar-26 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(183.6deg, #35b796 50%, #35b79650 50%);
}

.css-bar-success.css-bar-27 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(187.2deg, #35b796 50%, #35b79650 50%);
}

.css-bar-success.css-bar-28 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(190.8deg, #35b796 50%, #35b79650 50%);
}

.css-bar-success.css-bar-29 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(194.4deg, #35b796 50%, #35b79650 50%);
}

.css-bar-success.css-bar-30 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(198deg, #35b796 50%, #35b79650 50%);
}

.css-bar-success.css-bar-31 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(201.6deg, #35b796 50%, #35b79650 50%);
}

.css-bar-success.css-bar-32 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(205.2deg, #35b796 50%, #35b79650 50%);
}

.css-bar-success.css-bar-33 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(208.8deg, #35b796 50%, #35b79650 50%);
}

.css-bar-success.css-bar-34 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(212.4deg, #35b796 50%, #35b79650 50%);
}

.css-bar-success.css-bar-35 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(216deg, #35b796 50%, #35b79650 50%);
}

.css-bar-success.css-bar-36 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(219.6deg, #35b796 50%, #35b79650 50%);
}

.css-bar-success.css-bar-37 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(222.2deg, #35b796 50%, #35b79650 50%);
}

.css-bar-success.css-bar-38 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(225.8deg, #35b796 50%, #35b79650 50%);
}

.css-bar-success.css-bar-39 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(229.4deg, #35b796 50%, #35b79650 50%);
}

.css-bar-success.css-bar-40 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(234deg, #35b796 50%, #35b79650 50%);
}

.css-bar-success.css-bar-41 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(237.6deg, #35b796 50%, #35b79650 50%);
}

.css-bar-success.css-bar-42 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(241.2deg, #35b796 50%, #35b79650 50%);
}

.css-bar-success.css-bar-43 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(244.8deg, #35b796 50%, #35b79650 50%);
}

.css-bar-success.css-bar-44 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(248.4deg, #35b796 50%, #35b79650 50%);
}

.css-bar-success.css-bar-45 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(252deg, #35b796 50%, #35b79650 50%);
}

.css-bar-success.css-bar-46 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(255.6deg, #35b796 50%, #35b79650 50%);
}

.css-bar-success.css-bar-47 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(259.2deg, #35b796 50%, #35b79650 50%);
}

.css-bar-success.css-bar-48 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(262.8deg, #35b796 50%, #35b79650 50%);
}

.css-bar-success.css-bar-49 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(266.4deg, #35b796 50%, #35b79650 50%);
}

.css-bar-success.css-bar-50 {
    background-image: linear-gradient(270deg, #35b796 50%, transparent 50%, transparent), linear-gradient(270deg, #35b796 50%, #35b79650 50%);
}

.css-bar-success.css-bar-51 {
    background-image: linear-gradient(273.6deg, #35b796 50%, transparent 50%, transparent), linear-gradient(270deg, #35b796 50%, #35b79650 50%);
}

.css-bar-success.css-bar-52 {
    background-image: linear-gradient(277.2deg, #35b796 50%, transparent 50%, transparent), linear-gradient(270deg, #35b796 50%, #35b79650 50%);
}

.css-bar-success.css-bar-53 {
    background-image: linear-gradient(280.8deg, #35b796 50%, transparent 50%, transparent), linear-gradient(270deg, #35b796 50%, #35b79650 50%);
}

.css-bar-success.css-bar-54 {
    background-image: linear-gradient(284.4deg, #35b796 50%, transparent 50%, transparent), linear-gradient(270deg, #35b796 50%, #35b79650 50%);
}

.css-bar-success.css-bar-55 {
    background-image: linear-gradient(288deg, #35b796 50%, transparent 50%, transparent), linear-gradient(270deg, #35b796 50%, #35b79650 50%);
}

.css-bar-success.css-bar-56 {
    background-image: linear-gradient(291.6deg, #35b796 50%, transparent 50%, transparent), linear-gradient(270deg, #35b796 50%, #35b79650 50%);
}

.css-bar-success.css-bar-57 {
    background-image: linear-gradient(295.2deg, #35b796 50%, transparent 50%, transparent), linear-gradient(270deg, #35b796 50%, #35b79650 50%);
}

.css-bar-success.css-bar-58 {
    background-image: linear-gradient(298.8deg, #35b796 50%, transparent 50%, transparent), linear-gradient(270deg, #35b796 50%, #35b79650 50%);
}

.css-bar-success.css-bar-59 {
    background-image: linear-gradient(302.4deg, #35b796 50%, transparent 50%, transparent), linear-gradient(270deg, #35b796 50%, #35b79650 50%);
}

.css-bar-success.css-bar-60 {
    background-image: linear-gradient(306deg, #35b796 50%, transparent 50%, transparent), linear-gradient(270deg, #35b796 50%, #35b79650 50%);
}

.css-bar-success.css-bar-61 {
    background-image: linear-gradient(309.6deg, #35b796 50%, transparent 50%, transparent), linear-gradient(270deg, #35b796 50%, #35b79650 50%);
}

.css-bar-success.css-bar-62 {
    background-image: linear-gradient(313.2deg, #35b796 50%, transparent 50%, transparent), linear-gradient(270deg, #35b796 50%, #35b79650 50%);
}

.css-bar-success.css-bar-63 {
    background-image: linear-gradient(316.8deg, #35b796 50%, transparent 50%, transparent), linear-gradient(270deg, #35b796 50%, #35b79650 50%);
}

.css-bar-success.css-bar-64 {
    background-image: linear-gradient(320.4deg, #35b796 50%, transparent 50%, transparent), linear-gradient(270deg, #35b796 50%, #35b79650 50%);
}

.css-bar-success.css-bar-65 {
    background-image: linear-gradient(324deg, #35b796 50%, transparent 50%, transparent), linear-gradient(270deg, #35b796 50%, #35b79650 50%);
}

.css-bar-success.css-bar-66 {
    background-image: linear-gradient(327.6deg, #35b796 50%, transparent 50%, transparent), linear-gradient(270deg, #35b796 50%, #35b79650 50%);
}

.css-bar-success.css-bar-67 {
    background-image: linear-gradient(331.2deg, #35b796 50%, transparent 50%, transparent), linear-gradient(270deg, #35b796 50%, #35b79650 50%);
}

.css-bar-success.css-bar-68 {
    background-image: linear-gradient(334.8deg, #35b796 50%, transparent 50%, transparent), linear-gradient(270deg, #35b796 50%, #35b79650 50%);
}

.css-bar-success.css-bar-69 {
    background-image: linear-gradient(338.4deg, #35b796 50%, transparent 50%, transparent), linear-gradient(270deg, #35b796 50%, #35b79650 50%);
}

.css-bar-success.css-bar-70 {
    background-image: linear-gradient(342deg, #35b796 50%, transparent 50%, transparent), linear-gradient(270deg, #35b796 50%, #35b79650 50%);
}

.css-bar-success.css-bar-71 {
    background-image: linear-gradient(345.6deg, #35b796 50%, transparent 50%, transparent), linear-gradient(270deg, #35b796 50%, #35b79650 50%);
}

.css-bar-success.css-bar-72 {
    background-image: linear-gradient(348.2deg, #35b796 50%, transparent 50%, transparent), linear-gradient(270deg, #35b796 50%, #35b79650 50%);
}

.css-bar-success.css-bar-73 {
    background-image: linear-gradient(352.8deg, #35b796 50%, transparent 50%, transparent), linear-gradient(270deg, #35b796 50%, #35b79650 50%);
}

.css-bar-success.css-bar-74 {
    background-image: linear-gradient(356.4deg, #35b796 50%, transparent 50%, transparent), linear-gradient(270deg, #35b796 50%, #35b79650 50%);
}

.css-bar-success.css-bar-75 {
    background-image: linear-gradient(360deg, #35b796 50%, transparent 50%, transparent), linear-gradient(270deg, #35b796 50%, #35b79650 50%);
}

.css-bar-success.css-bar-76 {
    background-image: linear-gradient(363.6deg, #35b796 50%, transparent 50%, transparent), linear-gradient(270deg, #35b796 50%, #35b79650 50%);
}

.css-bar-success.css-bar-77 {
    background-image: linear-gradient(367.2deg, #35b796 50%, transparent 50%, transparent), linear-gradient(270deg, #35b796 50%, #35b79650 50%);
}

.css-bar-success.css-bar-78 {
    background-image: linear-gradient(370.8deg, #35b796 50%, transparent 50%, transparent), linear-gradient(270deg, #35b796 50%, #35b79650 50%);
}

.css-bar-success.css-bar-79 {
    background-image: linear-gradient(374.4deg, #35b796 50%, transparent 50%, transparent), linear-gradient(270deg, #35b796 50%, #35b79650 50%);
}

.css-bar-success.css-bar-80 {
    background-image: linear-gradient(378deg, #35b796 50%, transparent 50%, transparent), linear-gradient(270deg, #35b796 50%, #35b79650 50%);
}

.css-bar-success.css-bar-81 {
    background-image: linear-gradient(381.6deg, #35b796 50%, transparent 50%, transparent), linear-gradient(270deg, #35b796 50%, #35b79650 50%);
}

.css-bar-success.css-bar-82 {
    background-image: linear-gradient(385.2deg, #35b796 50%, transparent 50%, transparent), linear-gradient(270deg, #35b796 50%, #35b79650 50%);
}

.css-bar-success.css-bar-83 {
    background-image: linear-gradient(388.8deg, #35b796 50%, transparent 50%, transparent), linear-gradient(270deg, #35b796 50%, #35b79650 50%);
}

.css-bar-success.css-bar-84 {
    background-image: linear-gradient(392.4deg, #35b796 50%, transparent 50%, transparent), linear-gradient(270deg, #35b796 50%, #35b79650 50%);
}

.css-bar-success.css-bar-85 {
    background-image: linear-gradient(396deg, #35b796 50%, transparent 50%, transparent), linear-gradient(270deg, #35b796 50%, #35b79650 50%);
}

.css-bar-success.css-bar-86 {
    background-image: linear-gradient(399.6deg, #35b796 50%, transparent 50%, transparent), linear-gradient(270deg, #35b796 50%, #35b79650 50%);
}

.css-bar-success.css-bar-87 {
    background-image: linear-gradient(403.2deg, #35b796 50%, transparent 50%, transparent), linear-gradient(270deg, #35b796 50%, #35b79650 50%);
}

.css-bar-success.css-bar-88 {
    background-image: linear-gradient(406.8deg, #35b796 50%, transparent 50%, transparent), linear-gradient(270deg, #35b796 50%, #35b79650 50%);
}

.css-bar-success.css-bar-89 {
    background-image: linear-gradient(410.4deg, #35b796 50%, transparent 50%, transparent), linear-gradient(270deg, #35b796 50%, #35b79650 50%);
}

.css-bar-success.css-bar-90 {
    background-image: linear-gradient(414deg, #35b796 50%, transparent 50%, transparent), linear-gradient(270deg, #35b796 50%, #35b79650 50%);
}

.css-bar-success.css-bar-91 {
    background-image: linear-gradient(417.6deg, #35b796 50%, transparent 50%, transparent), linear-gradient(270deg, #35b796 50%, #35b79650 50%);
}

.css-bar-success.css-bar-92 {
    background-image: linear-gradient(421.2deg, #35b796 50%, transparent 50%, transparent), linear-gradient(270deg, #35b796 50%, #35b79650 50%);
}

.css-bar-success.css-bar-93 {
    background-image: linear-gradient(424.8deg, #35b796 50%, transparent 50%, transparent), linear-gradient(270deg, #35b796 50%, #35b79650 50%);
}

.css-bar-success.css-bar-94 {
    background-image: linear-gradient(428.4deg, #35b796 50%, transparent 50%, transparent), linear-gradient(270deg, #35b796 50%, #35b79650 50%);
}

.css-bar-success.css-bar-95 {
    background-image: linear-gradient(432deg, #35b796 50%, transparent 50%, transparent), linear-gradient(270deg, #35b796 50%, #35b79650 50%);
}

.css-bar-success.css-bar-96 {
    background-image: linear-gradient(435.6deg, #35b796 50%, transparent 50%, transparent), linear-gradient(270deg, #35b796 50%, #35b79650 50%);
}

.css-bar-success.css-bar-97 {
    background-image: linear-gradient(439.2deg, #35b796 50%, transparent 50%, transparent), linear-gradient(270deg, #35b796 50%, #35b79650 50%);
}

.css-bar-success.css-bar-98 {
    background-image: linear-gradient(442.8deg, #35b796 50%, transparent 50%, transparent), linear-gradient(270deg, #35b796 50%, #35b79650 50%);
}

.css-bar-success.css-bar-99 {
    background-image: linear-gradient(446.4deg, #35b796 50%, transparent 50%, transparent), linear-gradient(270deg, #35b796 50%, #35b79650 50%);
}

.css-bar-success.css-bar-100 {
    background-image: linear-gradient(450deg, #35b796 50%, transparent 50%, transparent), linear-gradient(270deg, #35b796 50%, #35b79650 50%);
}

.css-bar-info.css-bar-0 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(90deg, #1e88e5 50%, #fafafa 50%, #fafafa);
}

.css-bar-info.css-bar-5 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(108deg, #1e88e5 50%, #fafafa 50%, #fafafa);
}

.css-bar-info.css-bar-10 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(126deg, #1e88e5 50%, #fafafa 50%, #fafafa);
}

.css-bar-info.css-bar-15 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(144deg, #1e88e5 50%, #fafafa 50%, #fafafa);
}

.css-bar-info.css-bar-20 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(162deg, #1e88e5 50%, #fafafa 50%, #fafafa);
}

.css-bar-info.css-bar-25 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(180deg, #1e88e5 50%, #fafafa 50%, #fafafa);
}

.css-bar-info.css-bar-30 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(198deg, #1e88e5 50%, #fafafa 50%, #fafafa);
}

.css-bar-info.css-bar-35 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(216deg, #1e88e5 50%, #fafafa 50%, #fafafa);
}

.css-bar-info.css-bar-40 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(234deg, #1e88e5 50%, #fafafa 50%, #fafafa);
}

.css-bar-info.css-bar-45 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(252deg, #1e88e5 50%, #fafafa 50%, #fafafa);
}

.css-bar-info.css-bar-50 {
    background-image: linear-gradient(270deg, #1e88e5 50%, transparent 50%, transparent), linear-gradient(270deg, #1e88e5 50%, #fafafa 50%, #fafafa);
}

.css-bar-info.css-bar-55 {
    background-image: linear-gradient(288deg, #1e88e5 50%, transparent 50%, transparent), linear-gradient(270deg, #1e88e5 50%, #fafafa 50%, #fafafa);
}

.css-bar-info.css-bar-60 {
    background-image: linear-gradient(306deg, #1e88e5 50%, transparent 50%, transparent), linear-gradient(270deg, #1e88e5 50%, #fafafa 50%, #fafafa);
}

.css-bar-info.css-bar-65 {
    background-image: linear-gradient(324deg, #1e88e5 50%, transparent 50%, transparent), linear-gradient(270deg, #1e88e5 50%, #fafafa 50%, #fafafa);
}

.css-bar-info.css-bar-70 {
    background-image: linear-gradient(342deg, #1e88e5 50%, transparent 50%, transparent), linear-gradient(270deg, #1e88e5 50%, #fafafa 50%, #fafafa);
}

.css-bar-info.css-bar-75 {
    background-image: linear-gradient(360deg, #1e88e5 50%, transparent 50%, transparent), linear-gradient(270deg, #1e88e5 50%, #fafafa 50%, #fafafa);
}

.css-bar-info.css-bar-80 {
    background-image: linear-gradient(378deg, #1e88e5 50%, transparent 50%, transparent), linear-gradient(270deg, #1e88e5 50%, #fafafa 50%, #fafafa);
}

.css-bar-info.css-bar-85 {
    background-image: linear-gradient(396deg, #1e88e5 50%, transparent 50%, transparent), linear-gradient(270deg, #1e88e5 50%, #fafafa 50%, #fafafa);
}

.css-bar-info.css-bar-90 {
    background-image: linear-gradient(414deg, #1e88e5 50%, transparent 50%, transparent), linear-gradient(270deg, #1e88e5 50%, #fafafa 50%, #fafafa);
}

.css-bar-info.css-bar-95 {
    background-image: linear-gradient(432deg, #1e88e5 50%, transparent 50%, transparent), linear-gradient(270deg, #1e88e5 50%, #fafafa 50%, #fafafa);
}

.css-bar-info.css-bar-100 {
    background-image: linear-gradient(450deg, #1e88e5 50%, transparent 50%, transparent), linear-gradient(270deg, #1e88e5 50%, #fafafa 50%, #fafafa);
}

.css-bar-warning.css-bar-0 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(90deg, #fac801 50%, #fafafa 50%, #fafafa);
}

.css-bar-warning.css-bar-5 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(108deg, #fac801 50%, #fafafa 50%, #fafafa);
}

.css-bar-warning.css-bar-10 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(126deg, #fac801 50%, #fafafa 50%, #fafafa);
}

.css-bar-warning.css-bar-15 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(144deg, #fac801 50%, #fafafa 50%, #fafafa);
}

.css-bar-warning.css-bar-20 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(162deg, #fac801 50%, #fafafa 50%, #fafafa);
}

.css-bar-warning.css-bar-25 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(180deg, #fac801 50%, #fafafa 50%, #fafafa);
}

.css-bar-warning.css-bar-30 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(198deg, #fac801 50%, #fafafa 50%, #fafafa);
}

.css-bar-warning.css-bar-35 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(216deg, #fac801 50%, #fafafa 50%, #fafafa);
}

.css-bar-warning.css-bar-40 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(234deg, #fac801 50%, #fafafa 50%, #fafafa);
}

.css-bar-warning.css-bar-45 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(252deg, #fac801 50%, #fafafa 50%, #fafafa);
}

.css-bar-warning.css-bar-50 {
    background-image: linear-gradient(270deg, #fac801 50%, transparent 50%, transparent), linear-gradient(270deg, #fac801 50%, #fafafa 50%, #fafafa);
}

.css-bar-warning.css-bar-55 {
    background-image: linear-gradient(288deg, #fac801 50%, transparent 50%, transparent), linear-gradient(270deg, #fac801 50%, #fafafa 50%, #fafafa);
}

.css-bar-warning.css-bar-60 {
    background-image: linear-gradient(306deg, #fac801 50%, transparent 50%, transparent), linear-gradient(270deg, #fac801 50%, #fafafa 50%, #fafafa);
}

.css-bar-warning.css-bar-65 {
    background-image: linear-gradient(324deg, #fac801 50%, transparent 50%, transparent), linear-gradient(270deg, #fac801 50%, #fafafa 50%, #fafafa);
}

.css-bar-warning.css-bar-70 {
    background-image: linear-gradient(342deg, #fac801 50%, transparent 50%, transparent), linear-gradient(270deg, #fac801 50%, #fafafa 50%, #fafafa);
}

.css-bar-warning.css-bar-75 {
    background-image: linear-gradient(360deg, #fac801 50%, transparent 50%, transparent), linear-gradient(270deg, #fac801 50%, #fafafa 50%, #fafafa);
}

.css-bar-warning.css-bar-80 {
    background-image: linear-gradient(378deg, #fac801 50%, transparent 50%, transparent), linear-gradient(270deg, #fac801 50%, #fafafa 50%, #fafafa);
}

.css-bar-warning.css-bar-85 {
    background-image: linear-gradient(396deg, #fac801 50%, transparent 50%, transparent), linear-gradient(270deg, #fac801 50%, #fafafa 50%, #fafafa);
}

.css-bar-warning.css-bar-90 {
    background-image: linear-gradient(414deg, #fac801 50%, transparent 50%, transparent), linear-gradient(270deg, #fac801 50%, #fafafa 50%, #fafafa);
}

.css-bar-warning.css-bar-95 {
    background-image: linear-gradient(432deg, #fac801 50%, transparent 50%, transparent), linear-gradient(270deg, #fac801 50%, #fafafa 50%, #fafafa);
}

.css-bar-warning.css-bar-100 {
    background-image: linear-gradient(450deg, #fac801 50%, transparent 50%, transparent), linear-gradient(270deg, #fac801 50%, #fafafa 50%, #fafafa);
}

.css-bar-danger.css-bar-0 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(90deg, #db3311 50%, #fafafa 50%, #fafafa);
}

.css-bar-danger.css-bar-5 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(108deg, #db3311 50%, #fafafa 50%, #fafafa);
}

.css-bar-danger.css-bar-10 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(126deg, #db3311 50%, #fafafa 50%, #fafafa);
}

.css-bar-danger.css-bar-15 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(144deg, #db3311 50%, #fafafa 50%, #fafafa);
}

.css-bar-danger.css-bar-20 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(162deg, #db3311 50%, #fafafa 50%, #fafafa);
}

.css-bar-danger.css-bar-25 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(180deg, #db3311 50%, #fafafa 50%, #fafafa);
}

.css-bar-danger.css-bar-30 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(198deg, #db3311 50%, #fafafa 50%, #fafafa);
}

.css-bar-danger.css-bar-35 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(216deg, #db3311 50%, #fafafa 50%, #fafafa);
}

.css-bar-danger.css-bar-40 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(234deg, #db3311 50%, #fafafa 50%, #fafafa);
}

.css-bar-danger.css-bar-45 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(252deg, #db3311 50%, #fafafa 50%, #fafafa);
}

.css-bar-danger.css-bar-50 {
    background-image: linear-gradient(270deg, #db3311 50%, transparent 50%, transparent), linear-gradient(270deg, #db3311 50%, #fafafa 50%, #fafafa);
}

.css-bar-danger.css-bar-55 {
    background-image: linear-gradient(288deg, #db3311 50%, transparent 50%, transparent), linear-gradient(270deg, #db3311 50%, #fafafa 50%, #fafafa);
}

.css-bar-danger.css-bar-60 {
    background-image: linear-gradient(306deg, #db3311 50%, transparent 50%, transparent), linear-gradient(270deg, #db3311 50%, #fafafa 50%, #fafafa);
}

.css-bar-danger.css-bar-65 {
    background-image: linear-gradient(324deg, #db3311 50%, transparent 50%, transparent), linear-gradient(270deg, #db3311 50%, #fafafa 50%, #fafafa);
}

.css-bar-danger.css-bar-70 {
    background-image: linear-gradient(342deg, #db3311 50%, transparent 50%, transparent), linear-gradient(270deg, #db3311 50%, #fafafa 50%, #fafafa);
}

.css-bar-danger.css-bar-75 {
    background-image: linear-gradient(360deg, #db3311 50%, transparent 50%, transparent), linear-gradient(270deg, #db3311 50%, #fafafa 50%, #fafafa);
}

.css-bar-danger.css-bar-80 {
    background-image: linear-gradient(378deg, #db3311 50%, transparent 50%, transparent), linear-gradient(270deg, #db3311 50%, #fafafa 50%, #fafafa);
}

.css-bar-danger.css-bar-85 {
    background-image: linear-gradient(396deg, #db3311 50%, transparent 50%, transparent), linear-gradient(270deg, #db3311 50%, #fafafa 50%, #fafafa);
}

.css-bar-danger.css-bar-90 {
    background-image: linear-gradient(414deg, #db3311 50%, transparent 50%, transparent), linear-gradient(270deg, #db3311 50%, #fafafa 50%, #fafafa);
}

.css-bar-danger.css-bar-95 {
    background-image: linear-gradient(432deg, #db3311 50%, transparent 50%, transparent), linear-gradient(270deg, #db3311 50%, #fafafa 50%, #fafafa);
}

.css-bar-danger.css-bar-100 {
    background-image: linear-gradient(450deg, #db3311 50%, transparent 50%, transparent), linear-gradient(270deg, #db3311 50%, #fafafa 50%, #fafafa);
}


/* -- Radial Default -- */

.css-bar-default.css-bar-0 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(90deg, #1e88e5 50%, #fafafa 50%, #fafafa);
}

.css-bar-default.css-bar-5 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(108deg, #1e88e5 50%, #fafafa 50%, #fafafa);
}

.css-bar-default.css-bar-10 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(126deg, #1e88e5 50%, #fafafa 50%, #fafafa);
}

.css-bar-default.css-bar-15 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(144deg, #1e88e5 50%, #fafafa 50%, #fafafa);
}

.css-bar-default.css-bar-20 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(162deg, #1e88e5 50%, #fafafa 50%, #fafafa);
}

.css-bar-default.css-bar-25 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(180deg, #1e88e5 50%, #fafafa 50%, #fafafa);
}

.css-bar-default.css-bar-30 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(198deg, #1e88e5 50%, #fafafa 50%, #fafafa);
}

.css-bar-default.css-bar-35 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(216deg, #1e88e5 50%, #fafafa 50%, #fafafa);
}

.css-bar-default.css-bar-40 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(234deg, #1e88e5 50%, #fafafa 50%, #fafafa);
}

.css-bar-default.css-bar-45 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(252deg, #1e88e5 50%, #fafafa 50%, #fafafa);
}

.css-bar-default.css-bar-50 {
    background-image: linear-gradient(270deg, #1e88e5 50%, transparent 50%, transparent), linear-gradient(270deg, #1e88e5 50%, #fafafa 50%, #fafafa);
}

.css-bar-default.css-bar-55 {
    background-image: linear-gradient(288deg, #1e88e5 50%, transparent 50%, transparent), linear-gradient(270deg, #1e88e5 50%, #fafafa 50%, #fafafa);
}

.css-bar-default.css-bar-60 {
    background-image: linear-gradient(306deg, #1e88e5 50%, transparent 50%, transparent), linear-gradient(270deg, #1e88e5 50%, #fafafa 50%, #fafafa);
}

.css-bar-default.css-bar-65 {
    background-image: linear-gradient(324deg, #1e88e5 50%, transparent 50%, transparent), linear-gradient(270deg, #1e88e5 50%, #fafafa 50%, #fafafa);
}

.css-bar-default.css-bar-70 {
    background-image: linear-gradient(342deg, #1e88e5 50%, transparent 50%, transparent), linear-gradient(270deg, #1e88e5 50%, #fafafa 50%, #fafafa);
}

.css-bar-default.css-bar-75 {
    background-image: linear-gradient(360deg, #1e88e5 50%, transparent 50%, transparent), linear-gradient(270deg, #1e88e5 50%, #fafafa 50%, #fafafa);
}

.css-bar-default.css-bar-80 {
    background-image: linear-gradient(378deg, #1e88e5 50%, transparent 50%, transparent), linear-gradient(270deg, #1e88e5 50%, #fafafa 50%, #fafafa);
}

.css-bar-default.css-bar-85 {
    background-image: linear-gradient(396deg, #1e88e5 50%, transparent 50%, transparent), linear-gradient(270deg, #1e88e5 50%, #fafafa 50%, #fafafa);
}

.css-bar-default.css-bar-90 {
    background-image: linear-gradient(414deg, #1e88e5 50%, transparent 50%, transparent), linear-gradient(270deg, #1e88e5 50%, #fafafa 50%, #fafafa);
}

.css-bar-default.css-bar-95 {
    background-image: linear-gradient(432deg, #1e88e5 50%, transparent 50%, transparent), linear-gradient(270deg, #1e88e5 50%, #fafafa 50%, #fafafa);
}

.css-bar-default.css-bar-100 {
    background-image: linear-gradient(450deg, #1e88e5 50%, transparent 50%, transparent), linear-gradient(270deg, #1e88e5 50%, #fafafa 50%, #fafafa);
}


/* -- Radial Pink -- */

.css-bar-pink.css-bar-0 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(90deg, #fd5e94 50%, #fafafa 50%, #fafafa);
}

.css-bar-pink.css-bar-5 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(108deg, #fd5e94 50%, #fafafa 50%, #fafafa);
}

.css-bar-pink.css-bar-10 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(126deg, #fd5e94 50%, #fafafa 50%, #fafafa);
}

.css-bar-pink.css-bar-15 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(144deg, #fd5e94 50%, #fafafa 50%, #fafafa);
}

.css-bar-pink.css-bar-20 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(162deg, #fd5e94 50%, #fafafa 50%, #fafafa);
}

.css-bar-pink.css-bar-25 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(180deg, #fd5e94 50%, #fafafa 50%, #fafafa);
}

.css-bar-pink.css-bar-30 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(198deg, #fd5e94 50%, #fafafa 50%, #fafafa);
}

.css-bar-pink.css-bar-35 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(216deg, #fd5e94 50%, #fafafa 50%, #fafafa);
}

.css-bar-pink.css-bar-40 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(234deg, #fd5e94 50%, #fafafa 50%, #fafafa);
}

.css-bar-pink.css-bar-45 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(252deg, #fd5e94 50%, #fafafa 50%, #fafafa);
}

.css-bar-pink.css-bar-50 {
    background-image: linear-gradient(270deg, #fd5e94 50%, transparent 50%, transparent), linear-gradient(270deg, #fd5e94 50%, #fafafa 50%, #fafafa);
}

.css-bar-pink.css-bar-55 {
    background-image: linear-gradient(288deg, #fd5e94 50%, transparent 50%, transparent), linear-gradient(270deg, #fd5e94 50%, #fafafa 50%, #fafafa);
}

.css-bar-pink.css-bar-60 {
    background-image: linear-gradient(306deg, #fd5e94 50%, transparent 50%, transparent), linear-gradient(270deg, #fd5e94 50%, #fafafa 50%, #fafafa);
}

.css-bar-pink.css-bar-65 {
    background-image: linear-gradient(324deg, #fd5e94 50%, transparent 50%, transparent), linear-gradient(270deg, #fd5e94 50%, #fafafa 50%, #fafafa);
}

.css-bar-pink.css-bar-70 {
    background-image: linear-gradient(342deg, #fd5e94 50%, transparent 50%, transparent), linear-gradient(270deg, #fd5e94 50%, #fafafa 50%, #fafafa);
}

.css-bar-pink.css-bar-75 {
    background-image: linear-gradient(360deg, #fd5e94 50%, transparent 50%, transparent), linear-gradient(270deg, #fd5e94 50%, #fafafa 50%, #fafafa);
}

.css-bar-pink.css-bar-80 {
    background-image: linear-gradient(378deg, #fd5e94 50%, transparent 50%, transparent), linear-gradient(270deg, #fd5e94 50%, #fafafa 50%, #fafafa);
}

.css-bar-pink.css-bar-85 {
    background-image: linear-gradient(396deg, #fd5e94 50%, transparent 50%, transparent), linear-gradient(270deg, #fd5e94 50%, #fafafa 50%, #fafafa);
}

.css-bar-pink.css-bar-90 {
    background-image: linear-gradient(414deg, #fd5e94 50%, transparent 50%, transparent), linear-gradient(270deg, #fd5e94 50%, #fafafa 50%, #fafafa);
}

.css-bar-pink.css-bar-95 {
    background-image: linear-gradient(432deg, #fd5e94 50%, transparent 50%, transparent), linear-gradient(270deg, #fd5e94 50%, #fafafa 50%, #fafafa);
}

.css-bar-pink.css-bar-100 {
    background-image: linear-gradient(450deg, #1e88e5 50%, transparent 50%, transparent), linear-gradient(270deg, #fd5e94 50%, #fafafa 50%, #fafafa);
}


/* -- Radial Purple -- */

.css-bar-purple.css-bar-0 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(90deg, #7266ba 50%, #7266ba50 50%);
}

.css-bar-purple.css-bar-5 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%), linear-gradient(108deg, #7266ba 50%, #7266ba50 50%);
}

.css-bar-purple.css-bar-10 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(126deg, #7266ba 50%, #7266ba50 50%);
}

.css-bar-purple.css-bar-15 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(144deg, #7266ba 50%, #7266ba50 50%);
}

.css-bar-purple.css-bar-20 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(162deg, #7266ba 50%, #7266ba50 50%);
}

.css-bar-purple.css-bar-25 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(180deg, #7266ba 50%, #7266ba50 50%);
}

.css-bar-purple.css-bar-30 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(198deg, #7266ba 50%, #7266ba50 50%);
}

.css-bar-purple.css-bar-35 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(216deg, #7266ba 50%, #7266ba50 50%);
}

.css-bar-purple.css-bar-40 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(234deg, #7266ba 50%, #7266ba50 50%);
}

.css-bar-purple.css-bar-45 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(252deg, #7266ba 50%, #7266ba50 50%);
}

.css-bar-purple.css-bar-50 {
    background-image: linear-gradient(270deg, #7266ba 50%, transparent 50%, transparent), linear-gradient(270deg, #7266ba 50%, #7266ba50 50%);
}

.css-bar-purple.css-bar-55 {
    background-image: linear-gradient(288deg, #7266ba 50%, transparent 50%, transparent), linear-gradient(270deg, #7266ba 50%, #7266ba50 50%);
}

.css-bar-purple.css-bar-60 {
    background-image: linear-gradient(306deg, #7266ba 50%, transparent 50%, transparent), linear-gradient(270deg, #7266ba 50%, #7266ba50 50%);
}

.css-bar-purple.css-bar-65 {
    background-image: linear-gradient(324deg, #7266ba 50%, transparent 50%, transparent), linear-gradient(270deg, #7266ba 50%, #7266ba50 50%);
}

.css-bar-purple.css-bar-70 {
    background-image: linear-gradient(342deg, #7266ba 50%, transparent 50%, transparent), linear-gradient(270deg, #7266ba 50%, #7266ba50 50%);
}

.css-bar-purple.css-bar-75 {
    background-image: linear-gradient(360deg, #7266ba 50%, transparent 50%, transparent), linear-gradient(270deg, #7266ba 50%, #7266ba50 50%);
}

.css-bar-purple.css-bar-80 {
    background-image: linear-gradient(378deg, #7266ba 50%, transparent 50%, transparent), linear-gradient(270deg, #7266ba 50%, #7266ba50 50%);
}

.css-bar-purple.css-bar-85 {
    background-image: linear-gradient(396deg, #7266ba 50%, transparent 50%, transparent), linear-gradient(270deg, #7266ba 50%, #7266ba50 50%);
}

.css-bar-purple.css-bar-90 {
    background-image: linear-gradient(414deg, #7266ba 50%, transparent 50%, transparent), linear-gradient(270deg, #7266ba 50%, #7266ba50 50%);
}

.css-bar-purple.css-bar-95 {
    background-image: linear-gradient(432deg, #7266ba 50%, transparent 50%, transparent), linear-gradient(270deg, #7266ba 50%, #7266ba50 50%);
}

.css-bar-purple.css-bar-100 {
    background-image: linear-gradient(450deg, #7266ba 50%, transparent 50%, transparent), linear-gradient(270deg, #7266ba 50%, #7266ba50 50%);
}


/* -- Radial Inverse -- */

.css-bar-inverse.css-bar-0 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(90deg, #4c5667 50%, #fafafa 50%, #fafafa);
}

.css-bar-inverse.css-bar-5 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(108deg, #4c5667 50%, #fafafa 50%, #fafafa);
}

.css-bar-inverse.css-bar-10 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(126deg, #4c5667 50%, #fafafa 50%, #fafafa);
}

.css-bar-inverse.css-bar-15 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(144deg, #4c5667 50%, #fafafa 50%, #fafafa);
}

.css-bar-inverse.css-bar-20 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(162deg, #4c5667 50%, #fafafa 50%, #fafafa);
}

.css-bar-inverse.css-bar-25 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(180deg, #4c5667 50%, #fafafa 50%, #fafafa);
}

.css-bar-inverse.css-bar-30 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(198deg, #4c5667 50%, #fafafa 50%, #fafafa);
}

.css-bar-inverse.css-bar-35 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(216deg, #4c5667 50%, #fafafa 50%, #fafafa);
}

.css-bar-inverse.css-bar-40 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(234deg, #4c5667 50%, #fafafa 50%, #fafafa);
}

.css-bar-inverse.css-bar-45 {
    background-image: linear-gradient(90deg, #fafafa 50%, transparent 50%, transparent), linear-gradient(252deg, #4c5667 50%, #fafafa 50%, #fafafa);
}

.css-bar-inverse.css-bar-50 {
    background-image: linear-gradient(270deg, #4c5667 50%, transparent 50%, transparent), linear-gradient(270deg, #4c5667 50%, #fafafa 50%, #fafafa);
}

.css-bar-inverse.css-bar-55 {
    background-image: linear-gradient(288deg, #4c5667 50%, transparent 50%, transparent), linear-gradient(270deg, #4c5667 50%, #fafafa 50%, #fafafa);
}

.css-bar-inverse.css-bar-60 {
    background-image: linear-gradient(306deg, #4c5667 50%, transparent 50%, transparent), linear-gradient(270deg, #4c5667 50%, #fafafa 50%, #fafafa);
}

.css-bar-inverse.css-bar-65 {
    background-image: linear-gradient(324deg, #4c5667 50%, transparent 50%, transparent), linear-gradient(270deg, #4c5667 50%, #fafafa 50%, #fafafa);
}

.css-bar-inverse.css-bar-70 {
    background-image: linear-gradient(342deg, #4c5667 50%, transparent 50%, transparent), linear-gradient(270deg, #4c5667 50%, #fafafa 50%, #fafafa);
}

.css-bar-inverse.css-bar-75 {
    background-image: linear-gradient(360deg, #4c5667 50%, transparent 50%, transparent), linear-gradient(270deg, #4c5667 50%, #fafafa 50%, #fafafa);
}

.css-bar-inverse.css-bar-80 {
    background-image: linear-gradient(378deg, #4c5667 50%, transparent 50%, transparent), linear-gradient(270deg, #4c5667 50%, #fafafa 50%, #fafafa);
}

.css-bar-inverse.css-bar-85 {
    background-image: linear-gradient(396deg, #4c5667 50%, transparent 50%, transparent), linear-gradient(270deg, #4c5667 50%, #fafafa 50%, #fafafa);
}

.css-bar-inverse.css-bar-90 {
    background-image: linear-gradient(414deg, #4c5667 50%, transparent 50%, transparent), linear-gradient(270deg, #4c5667 50%, #fafafa 50%, #fafafa);
}

.css-bar-inverse.css-bar-95 {
    background-image: linear-gradient(432deg, #4c5667 50%, transparent 50%, transparent), linear-gradient(270deg, #4c5667 50%, #fafafa 50%, #fafafa);
}

.css-bar-inverse.css-bar-100 {
    background-image: linear-gradient(450deg, #4c5667 50%, transparent 50%, transparent), linear-gradient(270deg, #4c5667 50%, #fafafa 50%, #fafafa);
}

.css-bar-xlg {
    width: 223px;
    height: 223px;
    font-size: 20px;
}

.css-bar-xlg:after,
.css-bar-xlg>img {
    width: 213px;
    height: 213px;
    margin-left: 5px;
    margin-top: 5px;
    line-height: 30px;
}

.css-bar-lg {
    width: 100px;
    height: 100px;
    font-size: 20px;
    position: relative;
}

.css-bar-lg:after,
.css-bar-lg>img {
    width: 90px;
    height: 90px;
    margin-left: 5px;
    margin-top: 5px;
    line-height: 90px;
}

.css-bar-lg>img {
    width: 70px;
    height: 70px;
    margin-left: 15px;
    margin-top: 15px;
    line-height: 70px;
}

.css-bar>i {
    width: 85px;
    height: 85px;
    background: #fff;
    line-height: 90px;
    position: absolute;
    border-radius: 100%;
    text-align: center;
    margin-left: 7.5px;
    margin-top: 7.5px;
    left: 0px;
    right: 0px;
    z-index: 2;
    font-size: 27px;
    color: #a6b7bf;
}

.css-bar-sm {
    width: 50px;
    height: 50px;
    font-size: 12px;
}

.css-bar-sm:after,
.css-bar-sm>img {
    width: 40px;
    height: 40px;
    margin-left: 5px;
    margin-top: 5px;
    line-height: 40px;
}

.css-bar-xs {
    width: 30px;
    height: 30px;
    font-size: 8px;
}

.css-bar-xs:after,
.css-bar-xs>img {
    width: 24px;
    height: 24px;
    margin-left: 3px;
    margin-top: 3px;
    line-height: 21px;
}

.css-bar {
    background-clip: content-box;
}